<div class="containerLogin">
    <h2>Ingresa Email para recuperar tu contraseña</h2>

    <form class="w-25" id="form_forgetPassword" action="/api/sessions/sendRecoverPassword" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" />
            </div>            
            <button type="submit" class="btn btn-primary text-center">Recuperar</button>           
    </form>
</div>