<div class="containerLogin">
    <h2>Regístrate</h2>
    <form class="w-25" id="form_signup" action="/api/sessions/signup" method="post">
            <div class="mb-3">
                <label for="first_name" class="form-label">Nombre</label>
                <input type="string" class="form-control" name="first_name" />
            </div>
            <div class="mb-3">
                <label for="last_name" class="form-label">Apellido</label>
                <input type="string" class="form-control" name="last_name" />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" />
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Edad</label>
                <input type="number" class="form-control" name="age" value="0"/>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" name="password" />
            </div>       
            <button type="submit" class="btn btn-primary">Registrar</button>

    </form>
</div>
</div>